<script type="text/x-handlebars" data-template-name="tasks">
  <div class="tasks">
      {{#each todo in model itemController="task"}}
        <div class="tasks-item">
            <div class="tasks-item-actions">
                {{input type="checkbox" checked=todo.is_done}}
            </div>
            {{todo.title}}
        </div>
      {{/each}}
  </div>
</script>

<div id="ember-application"></div>

<%= javascript_include_tag 'ember_manifest' %>
<script>
    Tasks.Task.FIXTURES = <%= @tasks.to_json.html_safe %>;
</script>

